<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Osoraku Secure Note</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/index.js"></script>
</head>
<body>
  <header class="container">
    <h1>Osoraku Secure Note</h1>
    <a href="/">New note</a> | <a href="/note/00000000-0000-0000-0000-000000000000">Help</a>
  </header>
  <div class="container">
    <h2>New note</h2>
    <textarea name="content" id="content"></textarea>
    <div class="hidden error" id="error"></div>
    <p class="small">Note: You can use some HTML tags (<code>&lt;del&gt;</code>, <code>&lt;em&gt;</code>, and <code>&lt;strong&gt;</code>)!</p>
    <button id="submit">Create new note</button>
  </div>
</body>
</html>