      <h2>Welcome!</h2>
      <p>Welcome to Upload Viewer! In this website, you can <a href="/login">log in</a> and view your avatar.</p>
      <p><small>We're sorry but registration is currently closed.</small></p>