      <h2>Log in</h2>
      <form action="/login" method="POST">
        <p><label for="username">Username: </label><input type="text" name="username" id="username" pattern="^[0-9A-Za-z_]{4,16}$" placeholder="e.g. guest"></p>
        <p><label for="password">Password: </label><input type="password" name="password" id="password"></p>
        <input type="submit" value="Log in"> 
      </form>