@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body, textarea, button {
  font-family: 'Work Sans', sans-serif;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}

textarea {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  box-sizing: border-box;
  background: white;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 5px;
}

button {
  padding: .5rem 1rem;
  background: white;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 5px;
} 

button:hover {
  background: rgb(85, 85, 85);
  color: white;
  cursor: pointer;
} 

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.small {
  color: rgb(85, 85, 85);
  font-size: .75rem;
}

.note {
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgb(238, 238, 238);
  border-radius: 5px;
}

.error {
  color: rgb(238, 85, 85)
}

.hidden {
  display: none;
}