extends layout

block content
  h1= title
  p "Kantan" means simple or easy in Japanese.
  a(href='/source') source
  h2 Code
  form(action='/', method='get')
    input(type='text', name='code', size=40, placeholder='7*7', maxlength=29)
    input(type='submit', value='submit')
  h2 Output
  output #{output}